<div class="blkreg">
    <div class="blkregcontainer">
        <p class="logo_title">LCP</p>
        <div class="regformContainer">
            <form [formGroup]="regForm" (ngSubmit)="onSubmit($event)">
                <div class="rusernameblk">
                    <label for="username_t">Username</label>
                    <mat-form-field appearance="fill" class="mt-3">
                        <mat-label>Enter your username</mat-label>
                        <input matInput type="username" formControlName="username" required>
                    </mat-form-field>
                </div>
                <div class="remailblk mt-3">
                    <label for="email_t">Email</label>
                    <mat-form-field appearance="fill" class="mt-3">
                        <mat-label>Enter your email</mat-label>
                        <input matInput type="email" formControlName="email">
                    </mat-form-field>
                </div>
                <div class="rnamesblk mt-3">
                    <div class="reg_col_left">
                        <label for="firstName_t">Primeiro Nome</label>
                        <mat-form-field appearance="fill" class="mt-3">
                            <mat-label>Enter your firstname</mat-label>
                            <input matInput type="text" formControlName="firstName">
                        </mat-form-field>
                    </div>
                    <div class="reg_col_right">
                        <label for="lastName_t">Último Nome</label>
                        <mat-form-field appearance="fill" class="mt-3">
                            <mat-label>Enter your lastname</mat-label>
                            <input matInput type="text" formControlName="lastName">
                        </mat-form-field>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="rimageblk mt-3">
                    <div class="reg_col_left">
                        <label for="image_t">Imagem</label>
                        <img src="assets/images/avatars/{{regForm.get('image').value}}" class="regavatar mt-3">
                    </div>
                    <div class="reg_col_right">
                        <mat-form-field appearance="fill" class="mt-3">
                            <mat-label>Select your image url</mat-label>
                            <input matInput type="text" formControlName="image" readonly>
                        </mat-form-field>
                        <app-upload [fobj]="fobj" (changeFile)="changeFile($event)"></app-upload>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="rpassblk mt-3">
                    <label for="password_t">Password</label>
                    <mat-form-field appearance="fill" class="mt-3">
                        <mat-label>Enter your password</mat-label>
                        <input matInput type="password" formControlName="password" required>
                    </mat-form-field>
                </div>
                <div class="ractionsbtnblk mt-3">
                    <button mat-raised-button color="primary" type="reset" class="reset" (click)="resetForm($event)">Reset</button>
                    <button mat-raised-button color="primary" type="submit" class="ml-3 sub">Submit</button>
                </div>
            </form>

            <div *ngIf="submitted">
                <p>{{msg}}</p>
            </div>

            <button mat-raised-button color="primary" class="btnret mt-3" routerLink="/login">Voltar</button>
        </div>
    </div>
</div>